.root {
  position: relative;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.5em;

  &--selected {
    background: #cc7a6f;
    font-weight: 600;
    color: #FFF;
  }
}

.image {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
  display: flex;


  > img { max-width: 100%; }
}
