.root {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.image {
  min-width: 200px;
  width: 20%;

  > img { max-width: 100%; }
}

.dataContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  padding-left: 15px;
}

.name {
  font-size: 2.5em;
  color: #bf616a;
}
